<%- include('./partials/head') %>
<div id="containerCenter">
    <div class="shoppingCart">
        <h id="cartHeader">
            Your Cart
        </h>
        <% cartItems.forEach(item => { %>
        <div class="cartItem">
            <div id="cartImg">
                <img id="<%= product.imageId %>" src="<%= product.imageSrc %>">
            </div>
            <div id="itemInfo">
                <p><%= item.name %></p>
                <p id="price">Price: $<%= item.price %></p>

                <div id="qty">
                    <p> Qty <span class="qtyBox"><input type="text" value="<%= cartProducts.quantity %>">
                            <button type="submit">Confirm</button>
                            <button type="submit">Remove</button>
                        </span></p>
                    <p id="totalPerItem">$<%= product.price %></p>
                </div>
            </div>
        </div>
        <% }); %>

        <div id="total">
            <div id="totalTxt">
                <div id="category">Subtotal:</div>
                <div id="category">Tax - 6.75%:</div>
                <div id="category">Delivery Fee:</div>
                <div id="category">Total:</div>

            </div>
            <div id="totalNum">
                <div id="amount">$<%= product.price %></div>
                <div id="amount">$<%= tax %></div>
                <div id="amount">$<%= deliveryFee %></div>
                <div id="amount">$<%= total %></div>
            </div>
        </div>
        <div id="checkout">
            <button type="submit">Check Out</button>
        </div>

    </div>
</div>
<%- include('./partials/footer') %>

