<%- include('./partials/head') %>

    <div id="container">
        <div id="content-wrap">
            <div class="details">
                <h1>
                    <%= product.product_name %>
                </h1>

                <div class="dIMG">
                    <img src="<%= product.imagepath %>" alt="<%= product.product_name %>">
                    <article>
                        Description: <br> <br>
                        <%= product.description %>
                            <br> <br>
                            Price: $<%= product.price %>
                                <br>
                                <br>
                                <form id = "addToCartF">
                                    <input type = "hidden" id = "cart_id" name = "cart_id" value = "<%= carts.cartID %>">
                                    <input type = "hidden" id = "product_id" name ="product_id" value ="<%= product.productID %>">
                                    <input type = "number" id = "quantity" name = "quantity" value = "1" min = "1">
                                    <button type = "submit">Add to Cart</button>
                                </form>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>