<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
    <link rel="stylesheet" href="/styles/inventory.css" />
    <script src="/scripts/inventory.js" defer></script>
</head>

<body>
    <div class="inventoryContainer">
        <a class="navlink" href="http://localhost:8000">Go Home</a></li>
        <h1>Inventory</h1>
        <button id="new-product-btn">New Item</button>
        <%- include('./partials/new-product-form') %>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(product=> { %>
                        <tr>
                            <td>
                                <a href="/products/item/<%= product.productID %>">
                                    <%= product.productID %>
                                </a>
                            </td>
                            <td>
                                <%= product.product_name %>
                            </td>
                            <td>
                                <%= product.cat_name %>
                            </td>
                            <td>
                                <%= product.price %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
    </div>

</body>

</html>