<%- include('./partials/head') %>
<!-- Content Security Policy-->
<meta http-equiv="Content-Security-Policy" content="default-src 'self' http://lazyload.org;">

<body>
    <div id="container">
        <div id="content-wrap">
            <header class="product">
                <div class="logo">
                    <p>Lawn Supply</p>
                </div>

                <form action="#" class="searchbar">
                    <input type="text" placeholder="Look for products..." name="q">
                    <button type="submit"><img src="images/search.png"></button>
                </form>

                <nav class="navigation">
                    <ul class="navbar">
                        <li class="navitem"><a class="navlink" href="index.html">Home</a></li>
                        <li class="navitem"><a class="navlink" href="index.html">Sign In</a></li>
                        <li class="navitem"><a class="navlink" href="products.html">Products</a></li>
                        <li class="navitem"><a class="navlink" href="cart.html">Cart</a></li>
                    </ul>
                </nav>
            </header>


<div class="splashbox">
    <h2 class="ph2">Our Products</h2>
    <div class="pboxes">
        <% products.slice(0, 4).forEach(product => { %>
            <div class="pbox"><%= product.name %> <br> Price: <%= product.price %>
                <a href="http://localhost:8000/products/item/<%= product.id %>"><img src="<%= product.imagepath %>" alt="<%= product.name %>"></a>
            </div>
        <% }); %>
    </div>
    <div class="pboxes2">
        <% products.slice(4).forEach(product => { %>
            <div class="pbox"><%= product.name %> <br> Price: <%= product.price %>
                <a href="http://localhost:8000/products/item/<%= product.id %>"><img src="<%= product.imagepath %>" alt="<%= product.name %>"></a>
            </div>
        <% }); %>
    </div>
</div>



<%- include('./partials/footer') %>


