<%- include('./partials/head') %>

    <h2 class="ph2">Products in <%= title %>
    </h2>

    <div class="splashbox">
        <div class="pboxes">
            <% products.forEach(product=> { %>
                <div class="pbox inline"> 
                    <p>
                        <%= product.product_name %>
                    </p>
                    <p>Price: $<%= product.price %>
                    </p>
                    <img src="<%= product.imagepath %>" alt="<%= product.product_name %>">
        </div>
        <% }); %>
    </div>
    </div>

    <%- include('./partials/footer') %>