<%- include('./partials/head') %>

    <div class="splashbox">
        <h2 class="ph2">Our Products</h2>
        <% for (let i=0; i < products.length; i +=4) { %>
            <div class="pboxes">
                <% products.slice(i, i + 4).forEach(product=> { %>
                    <div class="pbox">
                        <%= product.product_name %> <br> Price: $<%= product.price %>
                                <a href="details.html"><img src="<%= product.imagepath %>"
                                        alt="<%= product.product_name %>"></a>
                    </div>
                    <% }); %>
            </div>
            <% } %>
    </div>

    <%- include('./partials/footer') %>